<footer class='bg-dark d-flex justify-content-between py-3 footer'>
        <div class="social px-3">
                <a href="https://www.instagram.com/iayushsharma/" target='_blank' class='px-2'><i class="fab fa-2x text-white fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100002940881004" target='_blank' class='px-2'><i class="fab fa-2x text-white fa-facebook"></i></a>
                <a href="mailto:gskumawat555@gmail.com" class='px-2' target='_blank'><i class="fas fa-2x fa-envelope-open text-white"></i></a>
                <a href="https://www.twitter.com/gskumawat2" class='px-2' target='_blank'><i class="fab fa-2x fa-twitter text-white"></i></a>
        </div>
        <div class="pt-1 px-3">
                <a href="https://www.instagram.com/iayushsharma/" class='text-white' target='_blank'>@AyushSharmaOfficial</a>
        </div>
        <div class="px-5 pt-1 text-white">
                <a href="https://www.linkedin.com/in/gskumawat" class='pl-2 text-white' target='_blank'>made with <i class="fas text-danger fa-heart"></i> by @gskumawat</a>
        </div>

</footer>

<!-- Optional JavaScript -->
<!-- jQuery in head, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
