<footer class='bg-dark d-flex justify-content-between'>
        <div class="social">
                <span class=""><i class="fab fa-2x text-white fa-instagram"></i></span>
                <span class=""><i class="fab fa-2x text-white fa-facebook"></i></span>
                <span class=""><i class="fas fa-2x fa-envelope-open text-white"></i></span>
                <span class=""><i class="fab fa-2x fa-twitter text-white"></i></span>
        </div>
        <div class=""></div>
        <div class=""></div>

</footer>

<!-- Optional JavaScript -->
<!-- jQuery in head, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
