html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    outline: none;
}

.nav-link {
    font-size: large;
}


/*show dropdown when hover*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;

}

.dropdown:hover .dropdown-content {
    display: block;

}

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

.carousel-item img {
    height: 100vh;
}


iframe {
    height: 350px;
}

h1.bg-dark {
    font-size: large;
}

/* scroll to top*/

.scrollTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

#scrollTop {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 80px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    border-radius: 50%;

    padding: 15px;
    /* Some padding */
    font-size: 18px;
    /* Increase font size */
    transition-delay: .5s;
    transition-duration: 1s;
}

#scrollTop:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

@media (max-width: 770px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
